html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;00
}

.teal {
	background-color: #28587B;
	height: 50px;
}

.light-darkblue {
	background-color: #75DDDD;
}

#question {
	text-align: center;
	font-weight: bold;
}

i.fa-question {
	margin-top: 5px;
	font-size: 30px;
	color: #FFFFFF;
}

i.fa-bars, i.fa-lock {
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 20px;
	font-size: 20px;
}

i.fa-check, i.fa-times-circle {
	font-size: 30px;
	margin-top: 5px;
	color: #FFFFFF;'
}

.question {
	color: #FFFFFF;
	font-size: 40px;
}

.text {
	color: #FFFFFF;
	font-size: 30px;
}

.correct {
	color: #FFFFFF;
	font-size: 30px;
}

#progressbar {
	margin-top: 5px;
	height: 20px;
}

#progress {
	text-align: center;
	background-color: #FF0000;
	width: 100%;
}

#countdown {
	color: #000000;
	font-weight: bold;
	position: absolute;
	right: 0;
	left: 0;
}
